.selectWrapper {
    display: flex;
    align-items: center;

    .selectLabel {
        margin-right: 8px;
        color: white;
        font-weight: 600;
    }

    .select {
        background: none;
        outline: none;
        color: white;
        padding: 6px 14px 6px 6px;
        font-size: 16px;
        border: 1px solid white;
        border-radius: 4px;
      font-weight: 600;
    }
}

.selectOption {
    color: purple;
    background-color: white;
    font-weight: 600;
    border-radius: 4px;
    &:disabled {
      color: #afafaf;
    }
    &:enabled {
      cursor: pointer;
    }
    &:hover {
      background: rgba(128, 128, 128, 0.1);
    }
}

.readonly::-ms-expand {
    display: none;
}
