.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 100%;
  .noProductsContainer {
    height: 400px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}